<footer>
    <div class="f-container">
        <div class="f-about">
            <h4 class="f-heading">About Explorebnb</h4>
            <p class="f-about-content">
                Explorebnb, your trusted platform for discovering unique and affordable stays across the world. Whether
                you're looking for a cozy room, a luxurious poolside villa, or a scenic mountain retreat, Explorebnb
                connects you with hosts from around the world, offering memorable travel experiences for every type of
                traveler. <br>
                Our mission is to provide a seamless booking experience, making your adventure planning easier and more
                enjoyable.
            </p>
        </div>

        <div class="f-contact">
            <h4 class="f-heading">Contact Me</h4>
            <div class="f-contact-content">
                <p><i class="fas fa-user"></i>
                    <span>Altamash Siddiqui</span>
                </p>
                <p><i class="fas fa-envelope"></i>
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=altamashsiddiqui941@gmail.com"
                        target="_blank">altamashsiddiqui941@gmail.com</a>
                </p>
                <p><i class="fas fa-phone"></i>
                    <a href="tel:+919012556462">+91 9012556462</a>
                </p>
            </div>
        </div>

        <div class="f-follow">
            <h4 class="f-heading">Follow Me</h4>
            <div class="f-social-icons">
                <a href="https://x.com/AltaMash90" target="_blank">
                    <i class="fa-brands fa-square-x-twitter"></i>
                </a>
                <a href="https://www.instagram.com/altamash.siddiquiii" target="_blank">
                    <i class="fa-brands fa-square-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/in/altamash-siddiquiii" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a href="https://github.com/altamash-siddiquiii" target="_blank">
                    <i class="fa-brands fa-square-github"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="f-bottom">
        <p>&copy; 2024 Explorebnb Inc. | All rights reserved.</p>
        <div class="f-links">
            <a href="#">Privacy Policy |&nbsp;</a>
            <a href="#">Terms of Service</a>
        </div>
    </div>
</footer>