<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand navbar-logo-text" href="/listings">
      <i class="fa-brands fa-staylinked web-logo"></i>
      <span class="web-logo-text">explorebnb</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto mt-4 mb-3 d-md-none">
        <form class="d-flex" role="search" action="/listings/search" method="get">
          <input class="form-control me-2 search-input" type="text" name="for" placeholder="Search destinations"
            value="<%= typeof searchedQuery !== 'undefined' ? searchedQuery : '' %>">
          <button class="btn search-btn" type="submit"><i class="fas fa-search"></i></button>
        </form>
        <% if (!currentUser) { %>
          <a class="nav-link" href="/signup">Sign Up</a>
          <a class="nav-link" href="/login">Log In</a>
          <% } else { %>
            <a class="nav-link" href="/logout">Log Out</a>
            <% } %>
            <a class="nav-link" href="/listings/new">Explorebnb your home</a>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link explore-link" href="/listings">Explore</a>
        <a class="nav-link experience-link" href="#">Experiences</a>
      </div>
      <div class="navbar-nav ms-auto d-md-flex d-none">
        <form class="d-flex" role="search" action="/listings/search" method="get">
          <input class="form-control me-2 search-input" type="text" name="for" placeholder="Search destinations"
            value="<%= typeof searchedQuery !== 'undefined' ? searchedQuery : '' %>">
          <button class="btn search-btn" type="submit"><i class="fas fa-search"></i></button>
        </form>
      </div>
      <div class="navbar-nav ms-auto">
        <div class="dropdown user-menu">
          <a class="nav-link mt-2 add-new-link" href="/listings/new">Explorebnb your home</a>
          <a href="#" class="nav-link" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="user-menu-icon">
              <i class="fas fa-bars menu-icon"></i>
              <i class="fas fa-user-circle user-icon"></i>
            </span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="userDropdown">
            <% if (!currentUser) { %>
              <li><a class="dropdown-item" href="/signup">Sign Up</a></li>
              <li><a class="dropdown-item" href="/login">Log In</a></li>
              <% } else { %>
                <li><a class="dropdown-item" href="/logout">Log Out</a></li>
                <% } %>
                  <li><a class="dropdown-item" href="/listings/new">Explorebnb your home</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>