:root {
    --web-theme: #fe424d;
}
body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container-fluid {
    flex: 1;
    padding: 0 2rem !important;
}

/* Card images */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top {
    border-radius: 0.5rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body {
    padding: 0 !important;
}
.card-text p {
    font-weight: 400 !important;
}
.listing-img-link {
    text-decoration: none;
}
/* Card overlay effect */
.card-img-overlay {
    opacity: 0;
}
.card-img-overlay:hover {
    opacity: 0.3;
    color: white;
}
/* Buttons styling  */
.add-btn, .edit-btn, .dlt-btn, .review-dlt-btn, .signup-btn, .login-btn {
    background-color: var(--web-theme) !important;
    border: none !important;
}

/* Show page */
.btns {
    display: flex;
}
.show-card {
    padding-left: 0;
    padding-right: 0;
}

/* Review submit btn */
.review-submit-btn:hover {
    background-color: var(--web-theme) !important;
    color: white;
    border: none !important;
}

/* Map Styling */
#map {
    height: 11rem;
}

/* Auth links - Signup, Login & Logout page links */
.auth-link {
    text-decoration: none;
    color: #4d4d4d;
    font-weight: 500;
    font-size: 0.83rem;
}
.auth-link:hover {
    text-decoration: underline;
    font-weight: 600;
}


@media (max-width: 575px) {
    .card {
        margin: 0 1rem 1.3rem;
    }
}
